$dk_blue:#072159;
$blue:#01254F;
$lt_blue:#17A5DC;
$black:#000;
$white:#fff;
$grey:#f2f2f2;
$lt_grey:rgba(0,0,0,0.1);
$red:red;

//breakpoints
// Small tablets and large smartphones (landscape view)
$screen-xs-max: 480px;
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;
// Small tablets (portrait view)
$screen-md-max: 768px;
// Tablets and small desktops
$screen-lg-max: 1179px;